div img{
    height:200px;
    width:350px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
}
#card{
    height:400px;
    width:400px;
    border:2px solid black;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
}
h2{
    color:blue;
}
h1{
    color:black;
}
span{
    color:burlywood;
}
#pets{
    display: flex;
    justify-content: space-evenly;
}
h3{
    text-align: center;
    color: grey;
    text-decoration:underline;
    
   
